img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.avatar {
    width: 300px;
    height: 300px;
}

#main-photo {
    width: 400px;
    height: 300px;
}

h1, h2, h3, li {
    color: #6e6e73;
    font-family: sans-serif;
}

nav {
    display: block;
}

p {
    padding-bottom: 15px;
    line-height: 1.3em;
    font-family: sans-serif;
    font-weight: 100;
}

a {
    font-family: sans-serif;
}